<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/tailwind.css" rel="stylesheet">
        <link href="/styles/style.css" rel="stylesheet">
        <link href="/styles/design.css" rel="stylesheet">
        <script>
            function loader()
            {
                document.getElementById("b1").focus();
                let f=`
                <div class="grid grid-cols-3 gap-4">
                <%
                for (i of faculty) 
                {
                    %>
                <div class="conatiner shadow-md inline">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="rounded-full h-16 w-16 flex items-center justify-center">
                            <img src="/<%=i.dp%>" style="border-radius: 100%;">
                        </div>
                        <div class="conatiner inline">
                            <h3 style="color:blue; font-size: 18px;"><%= i.name %></h3>
                            <p style="color:blue;"><%=i.designation %></p>
                            <p style="color:blue;"><%= i.alma %></p>
                            <p style="color:blue;"><%= i.specialization %></p>
                            <p style="color:blue;"><%= i.phone %></p>
                            <p style="color:blue;"><%= i.email %></p>
                        </div>
                    </div>
                </div>
                <%}%>
              </div>
                `;
                document.getElementById("det").innerHTML=f;
            }
            function student_loader()
            {
                document.getElementById("b2").focus();
                let s=`
                <div class="grid grid-cols-3 gap-4">
                <%
                for (i of student) 
                {
                    %>
                <div class="conatiner shadow-md inline">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="rounded-full h-16 w-16 flex items-center justify-center">
                            <img src="/<%=i.dp%>" style="border-radius: 100%;">
                        </div>
                        <div class="conatiner inline">
                            <h3 style="color:blue; font-size: 18px;"><%= i.name %></h3>
                            <p style="color:blue;"><%=i.roll %></p>
                            <p style="color:blue;"><%= i.cgpa %></p>
                            <p style="color:blue;"><%= i.skills %></p>
                        </div>
                    </div>
                </div>
                <%}
                %>
                </div>
                `;
                document.getElementById('det').innerHTML=s;
            }
        </script>
    </head>
    <body onload="loader()">
       <div class="container mx-auto">
        <nav class="container bg-gray-100 shadow-md">
            <img class="inline h-20 w-20 ml-3" src="/tu logo.png">
            <div class="container mx-auto inline p-5 ml-20 " id="nv">
                <ul class="inline">
                    <li class="inline ml-3" style="color: gray;margin-left: 10rem;">
                        <a href="mca">MCA</a>
                    </li>
                    <li class="inline ml-3" style=" font-size: 1.5rem;">
                        <a href="people">People</a>
                    </li>
                    <li class="inline ml-3" style="color: gray;">
                        <a href="gallery">Gallery</a>
                    </li>
                    <li class="inline ml-3" style="color: gray;">
                        <a href="admin">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="buttons">
        <button class="btn" id="b1" onclick="loader()">Faculties</button>
        <button class="btn" id="b2" onclick="student_loader()">Students</button>
        </div>
        <div class="container" id="det">
            <div class="grid grid-cols-3 gap-4">
                <%
                for (i of faculty) 
                {
                    %>
                <div class="conatiner shadow-md inline">
                    <div class="grid grid-cols-3 gap-2">
                        <div class="rounded-full h-16 w-16 flex items-center justify-center">
                            <img src="/<%=i.dp%>" style="border-radius: 100%;">
                        </div>
                        <div class="conatiner inline">
                            <h3 style="color:blue; font-size: 18px;"><%= i.name %></h3>
                            <p style="color:blue;"><%=i.designation %></p>
                            <p style="color:blue;"><%= i.alma %></p>
                            <p style="color:blue;"><%= i.specialization %></p>
                            <p style="color:blue;"><%= i.phone %></p>
                            <p style="color:blue;"><%= i.email %></p>
                        </div>
                    </div>
                </div>
                <%}%>
              </div>
        </div>
        </div>
        <footer class="container relative mx-auto p-5" style="margin-top: 2rem;
        background: #B2EBF2;
        box-shadow: 10rem;
        box-shadow: 2px 0px 0px lightblue;
        border-radius: 2px;">
        <div class="container w-8">
            <h4 class="f_a" style="color: black; font-size: 18px;">Important Links</h4>
            <ul>
                <li>
                    <a class="f_a" href="http://www.tezu.ac.in/">
                        Tezpur University
                    </a>
                </li>
                <li>
                    <a class="f_a" href="http://www.tezu.ernet.in/dcompsc/">
                        Computer Science and Engineering
                    </a>
                </li>
                <li>
                    <a class="f_a" href="https://www.tezu.ernet.in/Library/">
                        Central Library
                    </a>
                </li>   
            </ul>
        </div>
        <hr class="bg-black">
        </footer>
    </body>
</html>